.heading {
    color: rebeccapurple;
    font-style: italic;
    font-weight: bold;
    font-size: 2em;
}

ul.list {
    color: orange;
    font-weight: bold;
}

a:link {
    color: pink;
}
  
a:visited {
    color: fuchsia;
}
  
a:hover {
    text-decoration: magenta;
}

.info {
    font-style: italic;
    display: flex;
}
